<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BOOSTSTRAP -->
    <link rel="stylesheet" href="../static/booststrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- CSS Pessoal -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <title>Portfolio</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <!-- Menu Lateral  -->
    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile.jpg" alt="Foto do Perfil">
            <h1>Alafaethy Gomes</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://github.com/alafaethy"><i class="bi bi-github"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/alafaethy-gomes/"><i
                        class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://api.whatsapp.com/send?l=pt-BR&phone=5511971303977"><i
                        class="bi bi-whatsapp"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">
                        <i class="bi bi-house" aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check" aria-hidden="true"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark" aria-hidden="true"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">
                        <i class="bi bi-collection" aria-hidden="true"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>

    </aside>

    <!-- Conteudo -->
    <main id="main">

        <!-- Conteudo Inicio -->
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadown">Alafaethy Gomes</h2>
                <span id="subtitle" class="text-white text-shadown">Desenvolvedor fullstack</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end flex-column">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>

                </div>
            </div>

        </section>

        <!-- Conteudo Sobre -->
        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p> Venho atuando na área como Analista de Tecnologia da informação, uma área que venho
                        estabelecendo uma carreira solida desde jovem aprendiz e
                        com o aprendizados ao longo do tempo vai sendo aperfeiçoado e ganhando experiencia novas dentro
                        da área. <br>

                        Cursando Análie e desenvolvimento de sistemas (Graduação Tecnologo) pela instituição Faculdade
                        das Americas.(2021)
                        Atualmente cursando o 4° semestre, com estudo voltado para programação Web.
                    </p>

                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/profile.jpg" alt="Foto perfil" data-anime="left">
                </div>

                <div class="col-md-8" data-anime="up">
                    <h3>Analista de TI</h3>
                    <p>Atualmente analista da tecnologia de informação, trabalhando como helpDesk e
                        com atendimento via chat, as ferramentas do dia a dia, active directory, Gsuit, Jira,
                        VPN(FortiClient),
                        Sistema proprio da Empresa PhoneManager.</p>


                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">08 de Abril de 1999</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">23 Anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">São Paulo</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">São Paulo</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <p> Ativamente fazendo projetos pessoas para aprendizado tanto para programação Web e Sistemas RPA.
                        Programação Web: Front-end e Back-end utilizando a liguagem python e Djando como Framework nas
                        pratica, banco de dados Mongodb(Nosql) e Mysql(Sql). <br>
                        RPA: Python e Selenium como Framework para o acesso de links e coletar os dados.
                    </p>
                </div>



            </div>
        </section>

        <!-- Conteudo Habilidades -->
        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p> Habilidades Técnicas.</p>

                <div class="row">
                    <div class="col-md-6">

                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 80%">80%</div>
                        </div>

                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS3</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 30%">30%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Django</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 20%">20%</div>
                        </div>
                        <p class="mt-3 mb-0">Selenium</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">GitHub</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 50%">50%</div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!-- Conteudo Curriculo -->
        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Formação acadêmica</h3>

                        <div class="cv-item" data-anime="down">
                            <h4>aprendizagem,Administração</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Senac Francisco Matarazzo</em></p>
                            <p>Curso curricular de jovem aprendiz voltada ao mercado de trabalho
                                ensinamento de comportamento de normas trabalhista, trabalho em equipe.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="down">
                            <h4>Analise e Desenvolvimento de Sistemas</h4>
                            <h5>2021 - 2023</h5>
                            <p><em>Centro Universitário Faculdade das Americas</em></p>
                            <p>Cursando Análie e desenvolvimento de sistemas (Graduação Tecnologo) pela instituição
                                Faculdade das Americas
                                Atualmente cursando o 4° semestre, com estudo voltado para programação Web.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="down">
                            <h4>Python</h4>
                            <h5>2019 - 2 horas </h5>
                            <p><em>Udemy</em></p>
                            <p>Curso Online volta a introdução a python com certificação.
                            </p>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Experiência</h3>
                        <div class="cv-item" data-anime="down">
                            <h4>Jovem aprendiz em Técnico em informática</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Escale Digital</em></p>
                            <p>analista da tecnologia de informação.</p>

                        </div>
                        <div class="cv-item" data-anime="down">
                            <h4>Auxiliar de Suporte Técnico</h4>
                            <h5> 2019 - 2019 </h5>
                            <p><em>H M CONSULTORIA E RECURSOS HUMANOS EIRELI</em></p>
                            <p>Atendimento chamado via jira;
                                Suporte a os operadores;
                                Manutenção de desktop e notebook;
                                instalação de softwares.
                            </p>

                        </div>
                        <div class="cv-item" data-anime="down">
                            <h4>Analista de suporte a computadores</h4>
                            <h5>2021 - Atualmente </h5>
                            <p><em>Império IT, Comércio, Serviços e Soluções em Informática</em></p>
                            <p>analista da tecnologia de informação.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Conteudo Portfolio -->
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfólio</h2>
                <div id="carousel" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">

                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Website.png" class="card-img-top"
                                            alt="Website Investimento">
                                        <div class="card-body">
                                            <h5 class="card-title">Dashboard Investimento</h5>
                                            <p class="card-text">Projeto de um site de investimento pessoal,
                                                que coleta automático dados de cotações imobiliários quando é adicionado
                                                novos tickets,
                                                feito em Python, Framework Djando e Mysql.</p>

                                            <div class="d-flex justify-content-center">
                                                <a target="_blank" class="btn btn-outline-dark me-3"
                                                    href="https://github.com/alafaethy/Projeto_Web"><i
                                                        class="bi bi-github"></i></a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Scrap.png" class="card-img-top" alt="WebScrap">
                                        <div class="card-body">
                                            <h5 class="card-title">Raspagem de Dados</h5>
                                            <p class="card-text">Projeto de coleta automático dados de cotações
                                                imobiliários por tickets.</p>
                                            <div class="d-flex justify-content-center">
                                                <a target="_blank" class="btn btn-outline-dark me-3"
                                                    href="https://github.com/alafaethy/Projeto_Web/tree/master/scrap_dados"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/bot.png" class="card-img-top" alt="Bot Discord">
                                        <div class="card-body">
                                            <h5 class="card-title">Chatbot Discord</h5>
                                            <p class="card-text">Projeto de Bot criado para esta fazendo implementação
                                                de chatbot no Discord. Feito em Python e Nexcord.</p>
                                            <div class="d-flex justify-content-center">
                                                <a target="_blank" class="btn btn-outline-dark me-3"
                                                    href="https://github.com/alafaethy/coverBot"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/CRUD.png" class="card-img-top" alt="CRUD e Login">
                                        <div class="card-body">
                                            <h5 class="card-title">Tela de Login e CRUD</h5>
                                            <p class="card-text">Projeto de um um aplicativo web Backend e Frontend,
                                                usando Nodejs, Mysql, Express e outras tecnologias Javascript.</p>

                                            <div class="d-flex justify-content-center">
                                                <a target="_blank" class="btn btn-outline-dark me-3"
                                                    href="https://github.com/alafaethy/cadastroelogin"><i
                                                        class="bi bi-github"></i></a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="carousel-item">
                        <img src="../static/img/icon.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div> -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </section>

        <!-- Conteudo Contatos -->
        <section id="contato" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="down">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                                <p>São Paulo</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>afaethy@gmail.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 mt-4 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"
                                        required>
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">E-mail:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="E-mail" required>
                                </div>

                                <div class="col-12">
                                    <label for="msg" class="form-label">Mensagem: </label>
                                    <textarea type="text" class="form-control" id="msg"
                                        placeholder="Digite a sua mensagem" name="msg" rows="5" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-primary ">Enviar</button>

                                    <button id="btn-loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviado...
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ALERTA -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        <!-- <ul class=flashes>
            
            <li></li>
            
        </ul> -->





    </main>

    <script src="../static/booststrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>